.category {
	text-transform: capitalize;
	text-shadow: 1px;
	color: black;
}
#meat {
	background-color: red;
	color: white;
	padding: 1em;
}

#fish {
	background-color: white;
	color: black;
	padding: 1em;
}

#dairy {
	background-color: blue;
	color: white;
	padding: 1em;
}

#beans {
	background-color: white;
	color: black;
	padding: 1em;
}

#nuts {
	background-color: blue;
	color: white;
	padding: 1em;
}
#grains {
	background-color: red;
	color: white;
	padding: 1em;
}