.category {
	text-transform: capitalize;
	text-shadow: 1px;
	color: black;
	padding: 1em;
}
#meat {
	background-color: #a23434;
	color: white;
	padding: 1em;
}

#fish {
	background-color: #e4dfdf;
	color: black;
	padding: 1em;
}

#dairy {
	background-color: #f5eedb;
	color: black;
	padding: 1em;
}

#beans {
	background-color: #b2e4f1;
	color: black;
	padding: 1em;
}

#nuts {
	background-color: #f78204;
	color: white;
	padding: 1em;
}
#grains {
	background-color: #dedede;
	color: black;
	padding: 1em;
}
#veggies {
	background-color: #1e8822;
	color: white;
	padding: 1em;
}
#fruits {
	background-color: #ffea7a;
	color: black;
	padding: 1em;
}
#oils {
	background-color: #790000;
	color: white;
	padding: 1em;
}
#herbs {
	background-color: #f4f8ff;
	color: black;
	padding: 1em;
}
#beverages {
	background-color: #81e2da;
	color: black;
	padding: 1em;
}